@import url('https://fonts.googleapis.com/css2?family=Bevan&family=Roboto+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  line-height: 1.4;
  font-family: 'Roboto Slab', serif;
}

a,
a:link,
a:visited {
  text-decoration: none;
}

p {
  margin: 0.75rem 0;
}

/* Utility Classes */
.logo{
  font-family: 'Roboto Slab', serif;
  color: black;
}

.logo a:hover{
  color: white;
}

.l-heading {
  line-height: 1.1;
  font-size: 4rem;
  margin-bottom: 0.75rem;
  font-family: 'Bevan', cursive;
  
}

#showcase .primary-heading {
    line-height: 1.1;
    font-size: 4rem;
    margin-bottom: 0.75rem;
    font-family: 'Bevan', cursive;
    -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
   -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
       animation: fadein 5s;
  }

.text-primary {
  color: white;
}

.text-secondary {
  color: red;
}

.text-dark{
  color: black;
}

.bg-primary {
  background-color: #0d3d0a;
}

.bg-light {
  background-color: lightslategray;
}

.bg-dark {
  background-color: #04085e;
  color: white;
}

.bg-white {
  background-color: white;
  color: black;
}

.bg-black{
  background-color: black;
  color: white;
}

.list {
  margin: 0.5rem 0;
  list-style: none;
}

.list li {
  padding: 0.5rem 0;
}

.lead {
  line-height: 1.7;
  font-size: 1.5rem;
  
}

.p-1 {
  padding: 1rem 1rem;
}

.text-center {
  text-align: center;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  align-content: center;
}

.btn {
  display: inline-block;
  background: #e76b74;
  border: none;
  border-radius: 3px;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
  font-family: 'Roboto Slab', serif;
}

.btn:hover {
  background: black;
  color: white;
}

.btn-light{
  display: inline-block;
  background: white;
  color: black;
  border: none;
  border-radius: 3px;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
  font-family: 'Roboto Slab', serif;
}

.btn-white:hover {
  background: #0d3d0a;
  color: black;
}

.btn-light:hover{
  background: darkred;
  color: black;
}

.btn-dark {
  display: inline-block;
  background: black;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 10px;
  font-family: 'Roboto Slab', serif;
}

.btn-dark:hover {
  background: white;
  color: #0d3d0a;
}

.bottom-shadow{
  border-bottom: black;
  border-width: 2px;
}

@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}

/* NAVBAR */

#navbar {
  background-color: darkred;
  display: flex;
  color: white;
  position: sticky;
  top: 0;
  justify-content: space-between;
  z-index: 11;
  padding: 1rem;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  box-shadow: 0 4px 6px -6px #222;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
  font-size: larger;
}

#navbar ul li a {
  color: white;
  margin: 0 0.25rem;
  padding: 0.75rem;
}

#navbar ul li a:hover {
  background: white;
  border-radius: 5px;
  color: black;
}

#showcase {
  background-color: white;
  height: 100vh;
  color: white;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 10;
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 7px -6px #222;
}

#showcase div{
  flex: 1;
}

#showcase .showcase-content {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  background-color: #d4cd81;
  align-items: center;
  height: 100%;
  padding: 0 2rem;
}

#showcase .showcase-img{
  background: url("../images/Lone\ Star\ Roll\ Offs\ logo.PNG") no-repeat center center/cover;
  background-color: white;
  border-radius: 20%;
  -webkit-animation: fadein 5s; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 5s; /* Firefox < 16 */
   -ms-animation: fadein 5s; /* Internet Explorer */
    -o-animation: fadein 5s; /* Opera < 12.1 */
       animation: fadein 5s;
  margin: 1rem;
  padding: 1rem;
}

#showcase .showcase-img img{
  mix-blend-mode: multiply;
}

#showcase .showcase-text{
  margin: 1 1rem;
  padding: 5rem 5rem;
  display: flex;
  align-items: center;
}

/* ABOUT */
#about {
  display: flex;
  height: 75vh;
  width: 100vw;
}

#about div {
  flex: 1;
}

#about .about-text {
  margin: 1 1rem;
  padding: 5rem 5rem;
}

#about h1 {
  margin-bottom: 7rem;
  width: 100%;
  box-shadow: 1px 3px 5px -1px lightslategray;
}

#about p{
  width: 50%;
  text-align: center;
  margin-left: 27rem;
}

/* #about p a {
  text-decoration: none;
  color: #0d3d0a;
}

#about p a:hover {
  border-bottom: 1px dotted #333;
} */

/* GALLERY */

/* #gallery h1{
  box-shadow: 1px 1px 3px -1px #222;
}

#gallery .item-1 {
  background:  url("../images/almabraids.jpg") center center/cover;
  height: 60vh;
  width: 30vw;
  border-radius: 5%;
  margin-bottom: 1rem;
}
#gallery .item-2 {
  background: url("../images/male.jpg") center center/cover;
  height: 60vh;
  width: 30vw;
  border-radius: 5%;
  margin-bottom: 1rem;
}
#gallery .item-3 {
  background: url("../images/female1.jpg") center/cover;
  height: 60vh;
  width: 30vw;
  border-radius: 5%;
  margin-bottom: 1rem;
}
#gallery .item-4 {
  background: url("../images/female2.jpg") center/cover;
  height: 60vh;
  width: 30vw;
  border-radius: 5%;
  margin-bottom: 1rem;
}
#gallery .item-5 {
  background: url("../images/female3.jpg") center/cover;
  height: 60vh;
  width: 30vw;
  border-radius: 5%;
  margin-bottom: 1rem;
}
#gallery .item-6 {
  background: url("../images/female4.jpg") center/cover;
  height: 60vh;
  width: 30vw;
  border-radius: 5%;
  margin-bottom: 1rem;
} */

/* CONTACT */
#contact {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  border-bottom: 1px black;
}

#contact h1{
  box-shadow: 1px 3px 5px -1px lightslategray;
}

#contact div {
  flex: 1;
  text-align: center;
}

#contact form {
  align-self: flex-start;
}

#booking {
  align-self: baseline;
}

#booking button a {
  text-decoration: none;
}

#contact label {
  display: flex;
  justify-content:center;
}

#contact label,
#contact input,
#contact textarea {
  margin-left: 1rem;
}

#contact div > input,
#contact textarea {
  width: 20vw;
  margin-bottom: 1rem;
  border-radius: 3px;
  background-color: white;
  box-shadow:inset 0 0 3px 1px black;
}

#contact input:hover,
#contact textarea:hover {
  outline: none;
  border-color: white;
}

#contact #input-submit,


#footer {
  bottom: 0;
}
